* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primary: #FB2E86;
    --mainfont: "Lato", sans-serif;
}

.btn {

    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    outline: border;
    padding: 16px 40px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-success {
    background-color: #08D15F;
}

.row {
    display: flex;
     flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.container {
    width: calc(100% - 320px);
    margin: auto;
}
 
 @media screen  and (max-width:1400px) {
    .container{
        width: calc(100% - 200px);
    }
}
@media screen and (max-width:992px) {
    .container{
        width: calc(100% - 100px);
    }
}
@media screen and (max-width:576px) {
    .container{
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
} 

.text-white{
    color: #fff;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.gap-1{
    gap: 5px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap: 15px;
}
.gap-4{
    gap: 20px;
}
.gap-5{
    gap: 25px;
}
.gap-6{
    gap: 30px;
}
.gap-7{
    gap: 35px;
}
.align-item{
    align-items: center;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary);
 }
 .text-secondary{
    color: #151875;
 }
 .text-bold{
    font-weight: bold;
 }@media (max-width: 576px) {
    .container,section,footer,header {
     padding:0 15px;
      box-sizing: border-box;
    }
  }