body {
    font-family: var(--mainfont);
}

.header {

    align-items: center;
    padding: 57px 0px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active {
    color: var(--primary);
}

.search form {
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

.search form input {
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

.footer .left-side .search button {
    width: 135px;
    height: 39px;
    padding: 11px 40px;
}

@media screen and (max-width:1200px) {
    .header .bar {
        display: block;

    }

    .list ul,
    .header .search {
        display: none;
    }

}

.clients {
    padding: 50px 0;
}

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
}

.clients .logo {
    width: calc((100% - 75px) / 6);


}

.clients img {
    width: 150px;
    height: 150px;
}

@media screen and (max-width:900px) {
   .clients  .logo {
        width: calc((100% - 30px) / 3);
      
    }
}

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}

.footer .row {
    gap: 30px;
}

.footer .left-side {
    gap: 35px;
    width: calc((100% - 30px) /2);
    align-items: flex-start;

}

.address-info,
.footer a {
    color: #8A8FB9;
}

.footer .right-side {
    width: calc((100% - 30px) /2);
}

.footer .right-side .row {
    gap: 35px;
    align-items: flex-start;
}

.footer-item {
    gap: 45px;
    width: calc((100% - 70px) /3);

}

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .footer {
        text-align: center;
    }

    .footer-item {
        width: 100%;
    }
}

/* .footer-item nav{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
} */