body {
    font-family: var(--mainfont);
}

.header {

    align-items: center;
    padding: 57px 0px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active {
    color: var(--primary);
}

.search form {
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}

.search form input {
    border: none;
    outline: none;
    width: 250px;
    padding-left: 10px;
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
}

.footer .left-side .search button {
    width: 135px;
    height: 39px;
    padding: 11px 40px;
}

@media screen and (max-width:1200px) {
    .header .bar {
        display: block;

    }

    .iist,
    .search {
        display: none;
    }

}

.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
}

.footer .left-side {
    gap: 35px;
   
    align-items: flex-start;
 
}
.footer a{
    color: #8A8FB9;
}
.footer .right-side {
    width: 60%;
    
}
.address-info{
    color: #8A8FB9;
}
.right-side .footer-item{
    gap: 45px;
}
/* .footer-item nav{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
} */